<h1>Create a article</h1>
<div class='booyah-box col-10 offset-1'>
  <%= simple_form_for @article do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.file_field :image %>
    <br />
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary float-right' %>
  <% end %>
</div>
